<!DOCTYPE html> 

<html lang="es">

<head>
    <meta charset="UTF-8"> 
    <title>
        EDU1: Construcción de un sitio Web
    </title>
</head>

<body>
    <h1>
        Fuentes Jacinto Abraham Sinai 
    </h1>
    <p>
        Soy alguien calmado, soy muy paciente en hacer las cosas, no soy muy bueno haciendo las cosas pero
        me esfuerzo intentadolo

        
    </p>

    <br>

    <h4>
        Lista desordenada
    </h4>

    <ul>
        <li>Chilaquiles</li>
        <li>Las pizzas</li>
        <li>Jugar futbol y videojuegos</li>
        <li>Escuchar musica</li>
        <li>Ver peliculas</li>
        <li>No me gusta lavar trastes</li>
        <li>Dormir</li>
        <li>Me gustan las papitas</li>
        <li>Salir a correr</li>
        <li>No me gusta hacer quehacer</li>
        <li>No me gusta el atun</li>
    </ul>

    <a href="../index.html">
        <marquee>
            <br><img src ="../resources/Aceituna.jpg" alt="Aceituna" width = "300"/>
        </marquee>
    </a>

</body>
</html>