<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Fabian Sayid Flores Hernandez</title>
</head>

<body>

    <h1><center>Fabian Sayid Flores Hernandez</center></h1>

    <hr>

    <h2>Descripcion:</h2>
    <p>
        Hola, soy <strong>Fabian Sayid Flores Hernandez</strong>, estudiante de la carrera de
        <i>Ingeniería en Tecnologías de la Información e Innovación Digital</i> en la <strong>UPEMOR</strong>. <br>
        Me considero una persona relajada, alegre un poco distraido y con muchas ganas de aprender cosas nuevas.
    </p>

    <hr>

    <h2>Gustos</h2>
    <ul>
        <li>Salir a comer con mi novia</li>
        <li>Escuchar todo tipo de música</li>
        <li>Leer manhwas</li>
    </ul>

    <br>

    <h2>Pasatiempo</h2>
    <ul>
        <li>Dormir</li>
        <li>Comer</li>
        <li>Jugar en mi telefono</li>
    </ul>

    <br>

    <h2>Hobbies</h2>
    <ul>
        <li>Jugar videojuegos</li>
        <li>Ver videos en youtube</li>
        <li>Escuchar música</li>
    </ul>

    <br>

    <h2>Cosas</h2>
    <ul>
        <li>Mi telefono</li>
        <li>Mi laptop</li>
        <li>Mi xbox one s</li>
    </ul>

    <br>

    <h2>Lugares</h2>
    <ul>
        <li>El puesto de don carmelo (Esquites)</li>
        <li>Boxha (Restaurante)</li>
        <li>Mi casa</li>
    </ul>

    <br>

    <h2>Comidas que me gustan</h2>
    <ul>
        <li>Tamalas (carne)</li>
        <li>Macarrones con queso</li>
        <li>Milanesa</li>
    </ul>

    <br>

    <h2>Comidas que no me gustan</h2>
    <ul>
        <li>Ensalada fria</li>
        <li>Carne de puerco</li>
        <li>Pavo</li>
    </ul>

    <hr>

    <h2>Regresar al Inicio</h2>
    <p>Haz clic en la siguiente imagen para volver al inicio:</p>

    <a href="../index.html">
        <marquee>
            <img src="../resources/Pibble.jpg" alt="Imagen representativa mia" width="250px">
        </marquee>
    </a>

</body>

</html>