<!DOCTYPE html>
<html lang="es">

<head>
    <title> Proyecto</title>
</head>
<body>

    <center>
        <h1> Joana Gonzalez Villazana </h1>
    </center>
    <hr>
    <i>
        <h3> MI DESCRIPCCIÓN </h3>
        <p> Mi nombre es Joana, actualmente estoy estudiando Tecnologias de la Información e 
            innovación digital en la Upemor, me gusta ir al cine, pasar tiempo con mi gatita Nube, 
            jugar call of duty y ver peliculas de terror.
            </p>

        <hr>
        <ul><strong> Mis gustos, pasatiempos, hobbies, cosas, lugares, comidas que me gustan
             y que no me gustan son:
            </strong>
            <li>Mi pasatiempo es jugar videojuegos</li>
            <li>Mi comida favorita son las enchiladas verdes</li>
            <li>Me gusta ir al cine a ver peliculas</li>
            <li>Me gusta el chocolate caliente</li>
            <li>Me gusta ir a comer esquites</li>
            <li>Me gusta escuchar musica de Adele</li>
            <li>No me gusta leer libros</li>
            <li>No me gusta hacer quehacer</li>
            <li>No me gusta levantarme temprano</li>
            <li>No me gusta salir de mi casa</li>
        </ul>
    </i>

    <a href="../index.html">
        <marquee>
            <br><img src="../resources/gatoenojado.jpg" width="180" />
        </marquee>
    </a>

</body>
</html>